:root {
    --clr-rosy: rgb(188, 143, 143);
    --clr-turq: rgb(55, 110, 111);
    --clr-grey: rgb(48, 48, 48);
    --clr-lightrosy: rgb(224, 193, 179);
    --clr-neutral: rgb(230, 219, 208);
    --clr-whiteish: rgb(249, 241, 228);

    --ff-rale: 'Raleway', sans-serif;
    --fw-100: 100;
    --fw-400: 400;
    --fw-700: 700;

    --pad-sm: .5rem;
    --pad-med: 1rem;
    --pad-lrg: 2rem;

    --box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    --radius: 5px;
}

.page-container {
    min-width: 280px;
    max-width: 1300px;
    margin: 0 auto;
    color: var(--clr-grey);
    background: linear-gradient(0deg, var(--clr-turq) 0%, var(--clr-rosy) 100%);
}

.header-container {
    display: grid;
    padding: var(--pad-med);
    justify-items: center;
}

.image-container {
    object-fit: cover;
    position: relative;
}

.image-container img {
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    width: 300px;
}

h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--clr-neutral);
    font-size: 3.5rem;
    line-height: 1;
    font-weight: var(--fw-100);
}

.icon {
    width: 25px;
}

.header-icons, .footer-icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: var(--pad-med);
    padding: var(--pad-sm);
}

.about-container {
    padding-top: var(--pad-med);
    padding-bottom: 2.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: var(--fw-100);
}

h3 {
    font-size: 1.125rem;
    font-weight: var(--fw-100);
    line-height: 1.2;

}

.main-container {
    padding: var(--pad-med);
}

.project-text {
    line-height: 1.2;
}

.projects-container {
    padding: var(--pad-med);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--pad-lrg);
}
.project {
    background-color: var(--clr-lightrosy);
    padding: var(--pad-med);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    display: grid;
    justify-items: center;
}

.project-info {
    padding: var(--pad-med) 0;
}

.project-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: var(--pad-med);
    padding-bottom: var(--pad-sm);
}

.footer-container {
    display: grid;
    gap: var(--pad-med);
    color: var(--clr-lightrosy);
    justify-items: center;
}

.contact-container {
    padding: var(--pad-med);
}

.space {
    padding-bottom: var(--pad-med);
}

.contact img {
    display: none;
}

.footer-img {
    border-radius: 0;
    width: 350px;
}

@media (min-width: 765px) {
    .header-icons {
        display: none;
    }
    .header-container {
        justify-items: left;
        padding: var(--pad-lrg);
        position: relative;
        margin-bottom: var(--pad-lrg);
        /* border: 2px solid green; */
    }
    .image-container {
        position: static;
        float: left;
        z-index: 3;
        /* border: 2px solid yellow; */
    }
    .image-container img {
        width: 50vw;
    }

    h1 {
        bottom: auto;
        left: auto;
        top: 50px;
        right: 100px;
        /* border: 2px solid black; */
        align-self: center;
        z-index: 4;
    }
    .main-title {
        text-align: left;
        padding-left: var(--pad-med);
    }
    .about-container {
        position: absolute;
        right: 60px;
        bottom: 0px;
        /* border: 2px solid red; */
        background-color: var(--clr-lightrosy);
        width: 70%;
        text-align: right;
        padding: var(--pad-lrg);
        box-shadow: var(--box-shadow);
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        ". title"
        ". text"
        ;
    }
    .about-title {
        grid-area: title;
        text-align: center;
    }
    .about-text {
        grid-area: text;
        text-align: left;
    }

    .main-container {
        padding-bottom: 5rem;
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--pad-lrg) var(--pad-med);
    }
    .contact-title {
        text-align: left;
    }
    .contact img {
        display: block;
    }
    .contact {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--pad-med);
    }
    .contact.space {
        padding-top: var(--pad-sm);
    }
    .footer-icons {
        justify-content: left;
        padding: 0;
    }
    .footer-img {
        border-radius: var(--radius);
    }
}

@media (min-width: 1020px) {
    .header-container {
        grid-template-columns: auto auto;
    }
    .image-container {
        position: relative;
        max-width: 400px;
    }
    h1 {
        top: auto;
        right: auto;
        bottom: 10px;
        left: 50px;
    }
    .about-container {
        position: static;
        display: block;
        width: auto;
        align-self: center;
        text-align: left;
    }
    .about-title {
        text-align: left;
    }
    .header-icons {
        display: grid;
        justify-content: end;
    }
    .footer-container {
        padding: var(--pad-lrg);
    }
}
